name: Check

permissions:
  contents: read
  checks: write
  id-token: write

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java version
        uses: actions/setup-java@v5
        with:
          distribution: corretto
          java-version: 21
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Run Test with Gradle Wrapper
        run: ./gradlew check

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          detailed_summary: true
